@media only screen and (min-width: 992px) {
.icons{
    margin: 20px;
}
.icons i{
 padding-left: 20px;
}
.logotext{
    position: relative;
    right: 66px;
    top: 20px;
}
.enquiry{
    margin-left: 20px;
    cursor: pointer;
}
.search{
    display: flex;
}
.searchicon{
    position: relative;
    right: 25px;
    top: 5px;
}
.menu{
 font-size: 14px;

font-weight: 400;
font-family: "Poppins";
text-align: center;
}
.nav-link{
    
 font-size: 14px;
 font-weight: 400;
 font-family: "Poppins";
 text-align: center;
 color: black;
     
}
.nav-link:hover {
    color: #ee1d25;
    text-decoration:none; 
    cursor:pointer;  
}

.pasta{
    max-width:100%;
    margin-bottom: 20px;
}
.photos{
    display: flex;
    gap: 20px;
}
.column{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.images2{
    width: 49%;
    height: 100%;
    object-fit: cover;
}
.bombino{
    font-size: 22px;
    color: #bb0101;
    font-family: "Airways PE RS ON AL US EO NL Y";
}
.want{
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";  
}
.wanttext{
    font-size: 12px;
}
.bombinotext{
    position: absolute;
    top: 633px;
    left: 390px;
}
.macaronitext{
    position: absolute;
    top: 633px;
    left: 679px;
}
.bommac{
    font-size: 30px;
color: #000000;
font-weight: 600;
font-family: "Poppins";

text-shadow: 3px #fffcf7;

}
.images3{
    width: 32%;
    height: 100%;
    object-fit: cover;
}
.healthy{
    position: absolute;
    top: 980px;
    left: 194px;
}
.best{
    position: absolute;
    top: 980px;
    left: 487px; 
}
.plate{
    position: absolute;
    top: 980px;
    left: 845px;
}
.ourproducts{
    margin: 20px;
    font-size: 36px;
color: #a90000;
font-family: "Airways PE RS ON AL US EO NL Y";
}
.card{
    padding: 10px;
    
    width: inherit;
    height: 249px;
}
.cardimg{
    width: 152px;
    margin-left: 94px;
}
.ctext1{
    padding: 10px;
    margin-top: 30px;
}
.read{
    color: #948c8c !important;
}
.images4{
    width: 50%;
}
.yt1{
    font-size: 45px;
    position: absolute;
    top: 2960px;
    left: 280px;
    cursor: pointer;
}
.yt2{
    font-size: 45px;
    position: absolute;
    top: 2960px;
    left: 862px;
    cursor: pointer;
}
.btnsub{
width: 100px;
height: 38px;
border-radius: 5px;
background-color: #a90000;
border: none;
margin-top: 10px;
}
.subtext{
font-size: 14px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
margin-top: 10px;
}
.searchint{
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}
.knowmore{
font-size: 14px;
line-height: 24px;
position: absolute;
top: 2589px;
left: 774px;
color: #000000;
font-weight: 500;
font-family: "Poppins";
cursor: pointer;
}
.newsletter{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

}
/* for Mobile view */

@media only screen and (max-width: 600px) {
 
    .icons{
        /* margin: 20px; */
    }
    .icons i{
     padding-left: 10px;
    }
    .logotext{
        position: relative;
        right: 66px;
        top: 20px;
    }
    .logo{
        position: relative;
        left: 50px;
    }
    .info{
        margin-top: 25px;
    }
    .enquiry{
        margin-left: 170px;
        cursor: pointer;
    }
    .search{
        margin: 10px;
    }
    .searchicon{
        position: absolute;
        bottom: 24px;
        right: 44px;
    }
    .menu{
        font-size: 14px;
       
       font-weight: 400;
       font-family: "Poppins";
       text-align: center;
       }
       .nav-link{
           
        font-size: 14px;
        font-weight: 400;
        font-family: "Poppins";
        text-align: center;
        color: black;
            
       }
       .nav-link:hover {
           color: #ee1d25;
           text-decoration:none; 
           cursor:pointer;  
       }
       .pasta{
        width: inherit;
        padding: 10px;
       }
       .photos{
        display: flex;
        gap: 20px;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .images2{
        width: 100%;
        padding: 10px
      
    }
    .bombino{
        font-size: 16px;
        color: #bb0101;
        font-family: "Airways PE RS ON AL US EO NL Y";
    }
    .want{
        font-size: 22px;
        color: #000000;
        font-weight: 600;
        font-family: "Poppins";  
    }
    .bombinotext{
        position: absolute;
        top: 460px;
        left: 218px;
    }
    .wanttext{
        font-size: 10px;
    }
    .macaronitext{
        
            position: absolute;
            top: 758px;
            left: 50px;
        
    }
    .images3{
        width: 100%;
        padding: 10px;
    }
    .healthy{
        position: absolute;
        top: 1040px;
        left: 258px;
    }
    .best{
        position: absolute;
        top: 1338px;
        left: 50px;
    }
    .plate{
        position: absolute;
        top: 1610px;
        left: 50px;
    }
    .ourproducts{
        margin: 20px;
        font-size: 36px;
        color: #a90000;
        font-family: "Airways PE RS ON AL US EO NL Y";
    }
    .card{
        padding: 10px;
        
        width: 360px;
        height: 249px;
    }
    .cardimg{
        width: 152px;
        margin-left: 94px;
    }
    .ctext1{
        padding: 10px;
        margin-top: 30px;
    }
    .read{
        color: #948c8c !important;
    }
    .images4{
        width: 100%;
        
    }
    .knowmore{
        font-size: 14px;
        line-height: 24px;
        position: relative;
        bottom: 70px;
        left: 83px;
        color: #000000;
        font-weight: 500;
        font-family: "Poppins";
        cursor: pointer;
        }
        .yt1{
            font-size: 45px;
            position: relative;
            bottom: 430px;
            left: 160px;
            cursor: pointer;
        }
        .yt2{
            font-size: 45px;
            position: relative;
            bottom: 238px;
            left: 160px;
            cursor: pointer;
        }
        .btnsub{
            
            height: 38px;
            border-radius: 5px;
            background-color: #a90000;
            border: none;
            margin-top: 10px;
            }
            .subtext{
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Poppins";
            margin-top: 10px;
            }
            .searchint{
                margin-right: 10px;
                margin-bottom: 10px;
                padding-left: 10px;
                border-radius: 5px;
                width: 100% !important;
                margin: 0px !important;
                height: 45px;
            }
            .newsletter{
                display: flex;
                flex-direction: column;
                padding: 5px;
                margin-bottom: 20px;
            }
            .footer{
                font-size: .8em;
            }
}

